@margin: 10px;
@darkColor: #19160D;
@medDarkColor: #7C5C05;
@mediumColor: #E2E0CF;
@lightColor: #fdf2c3;
@textColor: #121212;

@font-face {
	font-family: Title;
	src: url('/systems/honey-heist/resources/fonts/Chelsea_Market/ChelseaMarket-Regular.ttf');
}

@font-face {
	font-family: Body;
	src: url('/systems/honey-heist/resources/fonts/Montserrat/Montserrat-Medium.ttf');
}
